{% extends 'base.html.twig' %}

{% block title %}Edit Glossary{% endblock %}

{% block body %}
    <div class="container bodyContent">
        <h1 class="my-5 text-center">Modifier le glossaire !</h1>

        <div class="col-8 m-auto">
            {{ include('glossary/_form.html.twig') }}
        </div>

    </div>
{% endblock %}
