<footer>
	<div class="container-fluid footer1 my-2">
		<div class="row">
			<div class="col-2 footer1 ml-3 mt-4">
				<a class="navbar-brand" href="#">
					<a class="navbar-brand" href="#"><img class="d-flex logof" src="../assets/img/logo.png"></a>
				</a>
			</div>
			<div class="col-4 footer1 my-2 mt-4">

				<h3 class="mx-4">Echange</h3>
				<ul>
					<li><a href="Qui sommes-nous?">Qui sommes-nous?</a></li>
					<li><a href="Contactez-nous">Nos contacts</a></li>
					<li><a href="Réseaux sociaux">Suivez-nous</a></li>
				</ul>
			</div>
			<div class="col-4 footer1 my-2 mt-4">

				<h3 class="mx-4">Législation</h3>
				<ul>
					<li><a href="CGU">CGU</a></li>
					<li><a href="Mentions Légales">Mentions Légales</a></li>
					<li><a href="Cookies">Cookies</a></li>
					<li><a href="RGPD">RGPD</a></li>
					<li><a href="Données Personnelles">Données Personnelles</a></li>
				</ul>
			</div>
		</div>
		<hr>
		<!-- Pied de page -->
		<span>© Copyright - 2020</span>
	</footer>
</div></footer>
