<header class="">
	<nav class="navbar navbar-expand-xl navbar-dark bg-light position-fixed w-100">
		<div class="container-fluid">
			<a href="#"><img class="logo" src="../assets/img/logo.png"></a>
			<button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end mx-4" id="navbarScroll">
				<ul class="list-to-move navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll align-items-center align-middle" style="max-height: 100px;">
					<li class="nav-item">
						<a class="nav-link text-light text-nowrap" href="#">Eco-gestes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="#">Jeunesse</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="#">Calculateur</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="#">Ecolexique</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light text-nowrap" href="#">Qui sommes-nous ?</a>
					</li>
					<form class="d-flex">
						<input class="form-control mx-3" type="search" placeholder="Rechercher" aria-label="Rechercher">
						<button class="btn btn-outline-success" type="submit">
							<i class="fas fa-search text-light"></i>
						</button>
					</form>
				</ul>
			</div>
		</div>
	</nav>
</header>
