<nav class="navbar navbar-expand-lg navbar-dark bg-light d-flex ">
	<a href="#"><img class="logo" src="assets/img/logo.png"></a>
	<a class="navbar-brand" href="#"></a>
	<button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarScroll">
		<ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll align-items-center align-middle" style="max-height: 100px;">
			<li class="nav-item">
				<a class="nav-link text-light d-block" href="#">Eco-gestes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light d-block" href="#">Jeunesse</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light d-block" href="#">Calculateur</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light d-block" href="#">Ecolexique</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light d-block" href="#">Qui sommes-nous?</a>
			</li>
		</li>
	</ul>
	<form class="d-flex">
		<input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success" type="submit">Search</button>
	</form>
</div>
</nav>
