DISPLAY:FLEX
{
display: -webkit-box;  
display: -ms-flexbox;  
display: -webkit-flex; 
display: flex;
}

JUSTIFY-CONTENT
{
    -webkit-justify-content: value;
    -ms-justify-content: value;
    justify-content: value;
}

ALIGN-ITEM 
{
    -webkit-align-items: value;
    -ms-align-items: value;
    align-items: value;
}

FLEX-DIRECTION 
{
    
}

BOOTSTRAP {
col-12 col-sm-6 col-lg-4 col-xl-3
}