{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}

	{% include "partials/slider.html.twig" %}


	<h3 class="mx-5 my-5 h3">
		Bienvenue dans l'espace jeunesse
	</h3>
  
	<div class="row d-flex justify-content-around text-center mx-5 mt-4">
		<div class="card col-12 col-md-4 my-4">
			<div class="card-body">
				<p class="card-text">Jeux</p>
			</div>
			<a href="#"><img class="img-fluid w-100 h-100 img-thumbnail" src="../assets/img/jeu.jpg" alt="Card image"></a>
			<div class="card-body">
				<p class="card-text">Viens jouer!</p>
			</div>
		</div>

		<div class="card col-12 col-md-4 my-4 ">
			<div class="card-body">
				<p class="card-text">Ecogestes</p>
			</div>
			<a href="#"><img class="img-fluid w-100 h-100 img-thumbnail" src="../assets/img/ecogestes.jpg" alt="Card image"></a>
			<div class="card-body">
				<p class="card-text">Apprendre les écogestes.</p>
			</div>
		</div>

		<div class="card col-12 col-md-5 my-5">
			<div class="card-body">
				<p class="card-text">Quizz</p>
			</div>
			<a href="#"><img class="img-fluid w-100 h-100 img-thumbnail" src="../assets/img/quizz.jpg" alt="Card image"></a>
			<div class="card-body">
				<p class="card-text">Testez vos connaissances.</p>
			</div>
		</div>

		<div class="card col-12 col-md-4 my-5">

			<div class="card-body">
				<p class="card-text">Vidéos</p>
			</div>
			<a href="#"><img class="img-fluid w-100 h-100 img-thumbnail" src="../assets/img/video.jpg" alt="Card image"></a>
			<div class="card-body">
				<p class="card-text">Voir des vidéos.</p>
			</div>
		</div>
	</div>


{% endblock %}
