{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}

	{% include "partials/slider.html.twig" %}


	<div class="youthContent">

		<h3>Bienvenue dans l'espace jeunesse</h3>

		<div class="rubrique">
			<p>Jeux</p>

		</div>

		<div class="rubrique">
			<p>Ecogestes</p>

		</div>

		<div class="rubrique">
			<p>Quizz</p>

		</div>

		<div class="rubrique">
			<p>Vidéos</p>

		</div>

	</div>


{% endblock %}
