{% extends 'base.html.twig' %}

{% block title %}Hello CalcHomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">

    <iframe class="col-12 img-fluid min-vh-100" src="https://nosgestesclimat.fr"></iframe>   

</div>
{% endblock %}
