{% extends 'base.html.twig' %}

{% block title %}Admin index{% endblock %}

{% block body %}
    <h1>Admin index</h1>


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    git fetch origin
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/thoma/OneDrive/Bureau/projecttpksk/TPSKProject/EchoCarbone/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/thoma/OneDrive/Bureau/projecttpksk/TPSKProject/EchoCarbone/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
    </ul>
</div>

{% endblock %}
