{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}


	<div class="container bodycontent text-center my-5 ">

		<div class="card text-center">
			<div class="Contact">

				<h1 class="card-title text-center mt-2">Contacter ECHO Carbone</h1>

                    <section= "telephone">
                        <h3>Nous téléphoner</h3>
                            <p>
                                Pour toutes questions relatives au site : 01 48 49 50 25
                            </p>

                    </section>

                    <section ="Write">
                        <h3>Nous écrire</h3>
                            <p>
                                Echo Carbone<br>10 rue du Maréchal Leclerc 69009 Lyon
                            </p>

                    </section>

                    <section ="Mail">
                                <h3>Nous envoyer un mail</h3>
                                <p>
                                    Envoyer un email à <a href="mailto:echo.carbone@hotmail.fr">echo.carbone@hotmail.fr</a>
                                </p>
                    </section>

			</div>

		</div>

	</div>


{% endblock %}
