{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}


	{% include "partials/slider.html.twig" %}

	<div class="row d-flex justify-content-between text-center mx-5 mt-4">
		<div class="card col-12 offset-md-1 col-md-4 my-4 mr-5">
		<div class="card-body">
			<p class="card-text">Eco-gestes</p>
		</div>
		<a href="#"><img class="img-fluid w-100 h-100 img-thumbnail" src="../assets/img/ecogestes.jpg" alt="Card image"></a>
		<div class="card-body">
			<p class="card-text">Accédez aux éco-gestes.</p>
		</div>
	</div>
	<div class="card col-12 offset-md-1 col-md-4 my-4 mr-5">
		<div class="card-body">
			<p class="card-text">Jeunesse</p>
		</div>
		<a href="#"><img class="img-fluid w-100 h-100 img-thumbnail" src="../assets/img/jeunesse.png" alt="Card image"></a>
		<div class="card-body">
			<p class="card-text">Accédez au contenu jeunesse.</p>
		</div>
	</div>

	<div class="card col-12 offset-md-1 col-md-4 my-5 mr-5">
		<div class="card-body">
			<p class="card-text">Calculateur</p>
		</div>
		<a href="#"><img class="img-fluid w-100 h-100 img-thumbnail" src="../assets/img/calculateur.png" alt="Card image"></a>
		<div class="card-body">
			<p class="card-text">Accédez au calculateur d'empreinte.</p>
		</div>
	</div>
	<div class="card col-12 offset-md-1 col-md-4 my-5 mr-5">
		<div class="card-body">
			<p class="card-text">Lexique</p>
		</div>
		<a href="#"><img class="img-fluid w-100 h-100 img-thumbnail" src="../assets/img/ecolexique.jpg" alt="Card image"></a>
		<div class="card-body">
			<p class="card-text">Accédez au lexique.</p>
		</div>
	</div>
	</div>
{% endblock %}


