{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous?
{% endblock %}

{% block body %}


<div class="container-fluid text-justify mx-5 mt-5">

  <div class="card text-center">
        <div class="Presentation">

        <h4 class="card-title text-center mt-2">Qui sommes-nous?</h4>

            <p>
                Echo Carbone est un site créé en novembre 2020 par des développeurs juniors.<br>
                 Son objectif est de fournir des informations sur le thème de l’écologie,<br>
                des ressources pour sensibiliser et aider  les particulier à la réduction de leur consommation en carbone,<br>
                des services de type : calculateur empreinte carbone, quizz, vidéo  pour les plus jeunes sur ce thème.
            </p> 

        </div>
    
    </div>

</div>               
              
                    
{% endblock %}