{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous?
{% endblock %}

{% block body %}


<div class="container bodycontent text-center my-5">

  <div class="card text-center">
        <div class="Presentation">

        <h4 class="card-title text-center mt-2">Qui sommes-nous?</h4>
            <p>
                Echo Carbone est un site créé & conçu à partir de Novembre 2020 par des développeurs juniors, dans le cadre d'un projet de soutenance<br>
                Son objectif est de fournir des informations sur le thème de l’environnement,<br>
                des ressources pour sensibiliser et aider  les particuliers à la réduction de leur consommation en carbone,<br>
                des services de type : calculateur empreinte carbone, quizz, vidéo  pour les plus jeunes sur ce thème.
            </p>
        </div>
    </div>
</div>               
              
                    
{% endblock %}