{# Création de la variable commune medias #}
{% set medias = [] %}

{# remplissage de medias #}
{% for article in articles %}
	{% set medias = medias | merge ([article])  %}
{% endfor %}

{% for game in games %}
	{% set medias = medias | merge ([game])  %}
{% endfor %}

{% for video in videos %}
	{% set medias = medias | merge ([video])  %}
{% endfor %}

{% for quizz in quizzs %}
	{% set medias = medias | merge ([quizz])  %}
{% endfor %}
{# fin de remplissage de médias #}

{% extends 'base.html.twig' %}

{% block title %}Eco-gestes
{% endblock %}

{% block body %}

	<div class="container mb-5 px-5">
		<nav aria-label="breadcrumb row" class="my-3 ">
			<ol class="breadcrumb col-12 col-md-10 offset-md-2">
				<li class="breadcrumb-item active" aria-current="page">Eco-gestes</li>
			</ol>
		</nav>


		<div class="row mb-4">

			<div id="list-example" class="scrollcont list-group col-2">
				<a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
				<a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
				<a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
				<a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
			</div>



			<div class="w-100">

				{% for media in medias |sort((a, b) => a.creationDate <=> b.creationDate)%}
					{% include "partials/card.content.html.twig" %}
				{% endfor %}

			</div>


			<style>
				.example-wrapper {
					margin: 1em auto;
					max-width: 800px;
					width: 95%;
					font: 18px / 1.5 sans-serif;
				}
				.example-wrapper code {
					background: #F5F5F5;
					padding: 2px 6px;
				}
			</style>

		</div>
	</div>
{% endblock %}
