{% extends 'base.html.twig' %}

{% block title %}Edit Game{% endblock %}

{% block body %}
    <div class="container bodyContent">
        <h1 class="my-5 text-center">Modifier un jeu !</h1>

        <div class="col-8 m-auto">
            {{ include('game/_form.html.twig') }}
        </div>

    </div>
{% endblock %}
