<form class="d-inline" method="post" action="{{ path('account_delete', {'slug': admin.slug}) }}" onsubmit="return confirm('Etes vous certain de vouleur supprimer cet utilisateur ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ admin.slug) }}">
    <button class="btn btn-danger btn-lg">Supprimer</button>
</form>
