{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur !{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5 text-center">Ajoutez un utilisateur !</h1>

        <div class="col-8 m-auto">
            {{ form(form) }}
        </div>

    </div>

{% endblock %}

